body.page-template-group-dining  {

	section.standard {
		padding: 50px 0 50px 0;
	}

	.section-header {
		padding-bottom: 20px;
	}

	.links {
		display: flex;
		justify-content: center;

		div + div {
			margin-left: 20px;
		}
	}

	.gallery {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;

		@include tablet-portrait {
			grid-template-columns: 1fr 1fr 1fr;
		}

		img {
			margin: 0 auto;
		}
	}

	.group-dining-description {
		max-width: 720px;
		margin: 0 auto;
		text-align: center;
		padding: 50px 0;

		p  {
			font-size: 1.375em;
			line-height: 1.25em;
			font-family: $avenir;

			& + p {
				padding-top: 20px;
			}
		}
	}


	.form-link,
	.menu-link {
		display: flex;
		justify-content: center;
		padding-bottom: 40px;

		.btn {
			a {
				display: inline-block;
			    border-color: $mustard;
			    background: $mustard;
			    color: $off-white;
			    border-radius: 5px;
			    text-transform: lowercase;
			    font-size: 1.5em;
			    padding: 13px 25px 11px;
			    font-weight: 700;
			}
		}
	}



	div.wpforms-container-full {
		max-width: 600px;
		width: 100%;
		margin: 0 auto;
	}

	.wpforms-description {
		font-size: 1em;
		line-height: 1.5em;
		font-family: $avenir;
	}

	.wpforms-field-divider {
		padding-top: 30px !important;
		padding-bottom: 12px;
		border-bottom: 1px solid $light-gray;
		margin-bottom: 10px;

		h3 {
			font-size: 1.5em;
			font-weight: bold;
			font-family: $italian-typewriter;
			text-transform: lowercase;
			color: $dark-green;
			padding: 0 !important;
		}
	}
	div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
	div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
	div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
		max-width: 100%;
	}

	.wpforms-field-container-full {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;


		& > * {
			width: 100%;
		}

		@include tablet-portrait {
			.wpforms-field-email,
			.wpforms-field-phone,
			.wpforms-field-date-time {
				width: calc(50% - 10px);
			}
		}
	}

	div.wpforms-container-full .wpforms-form .wpforms-field-description {
		font-size: 1em;
		line-height: 1.5em;
		font-family: $avenir;
		margin: 0 0 10px 0;;
	}

	div.wpforms-container-full .wpforms-form .wpforms-field-label {
		font-size: 1.125em;
	}

	div.wpforms-container-full .wpforms-form .wpforms-field-sublabel {
		font-size: 1em;
	}

	div.wpforms-container-full .wpforms-form label.wpforms-error {
		padding-top: 5px;
		font-size: 1em;
	}

	div.wpforms-container-full .wpforms-form button[type=submit] {
		background: $slate;
		color: $white;
		font-family: $italian-typewriter;
		text-transform: lowercase;
		font-weight: bold;
		font-size: 1.125em;
		padding: 15px 30px 11px 30px;
		border-radius: 10px;
		display: inline-block;
		border: none;
		transition: all 0.2s ease-in;

		&:hover {
			background: $mustard;
		}

		@include tablet-landscape {
			font-size: 1.5em;
		}	
	}


}


