section#announcement {
	padding: 10px 0;

	.announcement-wrapper {
		max-width: 800px;
		padding: 0 25px;
		margin: 0 auto;

		p {
			font-family: $avenir;
			font-size: 1em;
		}
	}
}

.header-bg {
	border-top: 5px solid $mustard;
}

header {
	background: transparent;
	padding-bottom: 40px;

	@include tablet-portrait {
		padding-bottom: 0;
	}

	.header-wrapper {
		border-color: $dark-green;
		border-width: 1px;
	}

	.logo {
		.image {
			a {
				display: block;

				img {
					@include desktop {
						max-width: 412px;
					}
				}
			}
		}
	}

	.info {
		color: $slate;

		h3 {
			text-transform: lowercase;
			font-family: $italian-typewriter;
			font-weight: 700;
			font-size: 1.5em;
			color: $red;
		}

		p {
			font-size: 0.875em;
			font-style: normal;
			line-height: 1.75em;
			font-family: $avenir;

			@include desktop {
				font-size: 1em;
			}
		}
	}

	&.status-view {
		.status {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		.logo {
			width: 100%;

			@include tablet-landscape {
				width: auto;
			}

			.image {
				width: 80%;

				@include tablet-landscape {
					width: 100%;

				}
			
				img {
					margin: 0;					
					transform: none;
					max-width: 200px;

					@include tablet-portrait {
						margin: 0;
						max-width: 300px;
					}

					@include desktop {
						max-width: 300px;
					}
				}		
			}	
		}


		.message {
			width: 100%;
			flex: 1;
			text-align: center;
			padding-top: 50px;

			@include tablet-landscape {
				padding-left: 50px;
				text-align: left;
				width: auto;
				padding-top: 0;
			}

			.headline {
				padding-bottom: 15px;

				h2 {
					font-size: 1.5rem;
					font-family: $italian-typewriter;
					font-weight: bold;
					text-transform: lowercase;
					color: $red;

					@include desktop {
						font-size: 2rem;
					}
				}
			}

			.copy {
				p {
					font-size: 1rem;
					line-height: 1.75em;
					font-family: $avenir;

					& + p {
						padding-top: 10px;
					}

					@include desktop {
						font-size: 1.25rem;
					}
				}
			}
		}
	}

}

nav.desktop {
	background: transparent;
	padding: 25px 0;

	.main-nav {
		a {
			font-size: 1.25em;
			font-weight: 700;
			text-transform: lowercase;
			color: $red;

			&:after {
				padding: 0 10px;

				@include desktop {
					padding: 0 20px;
				}
			}

			&:hover {
			}
		}
	}


}

nav.mobile {

	.main-nav {

		a {
			font-size: 1.25em;
			font-weight: 700;
			color: $red;
			padding: 20px 0;
			display: block;
			text-transform: lowercase;
		}

		@include tablet-portrait {
			display: flex;
			justify-content: center;

			a {
				padding: 0;

				&:after {
					content: "·";
					display: inline-block;
					padding: 0 30px;
				}

				&:last-of-type {
					&:after {
						display: none;
					}
				}
			}
		}

	}
}


section.call-to-actions {
	background: transparent;
	padding-bottom: 40px;

	.btn {
		@include tablet-portrait {
			padding: 0 5px;
		}

		@include tablet-landscape {
			padding: 0 15px;
		}

		a {
			border-color: $dark-gray;
			background: $dark-gray;
			color: $cream;
			border-radius: 5px;
			text-transform: lowercase;
			font-size: 1.125em;
			padding: 13px 20px 12px;
			font-weight: 700;

			@include tablet-portrait {
				font-size: 1em;
			}

			@include tablet-landscape {
				font-size: 1.125em;
			}

			&:hover {
				border-color: $mustard;
				background: $mustard;
				color: $white;
			}
		}
	}

	#ot-reservation-widget {
		width: auto;
		padding: 0;
	}

	.ot-powered-by {
		display: none;
	}

	.ot-button {
		font-family: $italian-typewriter;
		border-color: $dark-gray;
		background: $dark-gray;
		color: $cream;
		border-radius: 5px;
		text-transform: lowercase;
		font-size: 1.125em;
		padding: 13px 20px 12px;
		font-weight: 700;
		font-weight: bold;
		width: auto;
		display: inline-block;

		@include tablet-portrait {
			font-size: 1em;
		}

		@include tablet-landscape {
			font-size: 1.125em;
		}

		&:hover {
			border-color: $mustard;
			background: $mustard;
			color: $white;
		}

	}

	.text {
		@include tablet-portrait {
			width: 100%;
			padding: 25px 0;
		}

		@include tablet-landscape {
			width: auto;
			padding: 0 25px;
		}

		p {
			color: $red;
			font-style: normal;
			font-weight: bold;
			font-size: 1.125rem;
			letter-spacing: 0.02em;
			text-transform: lowercase;
		}
	}
}


#toggle {

	.patty {
	    background: $red;

		&:after, &:before {
		    background: $red;
		}

	}
}