body.home {

	section#hero {
		@include aspect-ratio(16, 9);

		@include mobile-landscape {
			@include aspect-ratio(1440, 490);
			max-height: 600px;
		}
	}

	section#main {
		padding: 25px 0;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		@include desktop {
			margin: 0 auto;
			max-width: 1600px;
			padding: 10px 0;
			align-items: flex-start;
		}

		section#info {
			order: -1;
			padding: 0 25px 25px 25px;

			@include tablet-portrait {
				order: 2;
				flex: 1;
				padding: 0 50px;
			}
		
			@include tablet-landscape {
				max-width: 520px;
			}

			@include desktop {
				padding: 50px 0 0 50px;
			}

			.description {

				h3 {
					font-size: 2.5rem;
					font-weight: bold;
					color: $mustard;
					font-family: $italian-typewriter;
					text-transform: lowercase;

					@include desktop {
						font-size: 4rem;
						line-height: 0.875em;
					}
				}

				.copy {
					@include tablet-portrait {
						border-bottom: 1px solid $mustard;
						padding: 10px 0 50px 0;
					}					
				}

				p {
					font-size: 1em;
					line-height: 1.75em;
					font-family: $avenir;

					@include desktop {
						font-size: 1.25em;
					}
				}
			}

			.contact-details {
				padding: 50px 0 25px 0;
				max-width: 800px;
				width: 100%;
				margin: 0 auto;
				text-align: center;

				@include mobile-landscape {
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;

					& > * {
						width: calc(50% - 25px);
					}
				}

				@include tablet-landscape {
					max-width: 100%;

					& > * {
						width: 100%;
						text-align: left;
					}

				}

				.location {
					padding-top: 50px;

					@include mobile-landscape {
						padding-top: 0;
					}

					@include tablet-landscape {
						padding-top: 50px;

					}
				}

				h3 {
					font-size: 1.75rem;
					font-weight: bold;
					color: $red;
					font-family: $italian-typewriter;
					text-transform: lowercase;
					padding-bottom: 10px;

					@include tablet-portrait {
						font-size: 1.5rem;
					}

					@include tablet-landscape {
						font-size: 1.75rem;
					}
				}

				p {
					font-size: 1em;
					line-height: 1.75em;
					font-family: $avenir;

					@include tablet-portrait {
						font-size: 0.875rem;
					}

					@include tablet-landscape {
						font-size: 1.25rem;
					}

				}
			}

		}

		.next-door {
			order: 3;
			margin: 20px;
			padding: 25px;
			border: 1px solid $claret;
			border-radius: 10px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			@include tablet-portrait {
				margin: 50px auto 20px auto;
				max-width: 800px;

			}

			.logo {
				width: 100%;

				@include tablet-portrait {
					width: auto;
				}

				a {
					display: block;
					max-width: 250px;
					margin: 0 auto;
				}

				img {
					width: 100%;
				}
			}

			.copy {
				padding-top: 25px;

				@include tablet-portrait {
					flex: 1;
					padding-top: 0;
					padding-left: 50px;
				}

				p {
					font-size: 1em;
					line-height: 1.5em;
					font-family: $avenir;

					@include desktop {
						font-size: 1.125em;
					}

					a {
						text-decoration: underline;
						color: $claret;
						font-weight: bold;
					}
				}
			}
		}


		section#photos {

			@include tablet-portrait {
				order: 1;
				width: 50%;
				max-width: 900px;
			}

			@include tablet-landscape {
				width: 66.6667%;
				max-width: 800px;
			}

			.gallery {
				display: flex;
				flex-wrap: wrap;

				.col-2 {
					width: calc(50% - 5px);

					img {
						width: 100%;

						& + img {
							margin-top: 10px;
						}
					}
				}

				.col-1 {
					width: 100%;
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;

					img {
						width: 100%;
					}
				}

				* + .col-1 {
					margin-top: 10px;		
				}

				.wide {
					display: block;
				}
			}
		}

	}
}