body.page-template-menu {



	.menu-item {

		.info {
			padding: 25px 0 0 0;

			a.title {
				font-size: 1.25em;
				text-transform: lowercase;
				font-weight: bold;
				color: $red;
			}
		}


	}

}
