body {
	background: $cream;
}

.section-header {
	padding: 0 0 40px 0;
	text-align: center;

	h1 {
		font-size: 2em;
		font-family: $italian-typewriter;
		color: $mustard;
		text-transform: lowercase;
		font-weight: bold;
		letter-spacing: -0.04em;


		&:after {
			content: '';
			display: block;
			width: 40px;
			height: 1px;
			background: $mustard;
			margin: 20px auto 0 auto;
		}
		
		@include tablet-portrait {
			font-size: 3em;
		}
	}
}

