@charset "UTF-8";
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@font-face {
  font-family: 'Avenir LT Std';
  src: url("fonts/AvenirLTStd-BookOblique.woff2") format("woff2"), url("fonts/AvenirLTStd-BookOblique.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Avenir LT Std';
  src: url("fonts/AvenirLTStd-Book.woff2") format("woff2"), url("fonts/AvenirLTStd-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Avenir LT Std';
  src: url("fonts/AvenirLTStd-Black.woff2") format("woff2"), url("fonts/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Italian Typewriter';
  src: url("fonts/ItalianTypewriter.woff2") format("woff2"), url("fonts/ItalianTypewriter.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Media Queries
----------------------------------*/
/* Selection  */
::-moz-selection {
  background: #CBA44A;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #CBA44A;
  color: #fff;
  text-shadow: none; }

body {
  background: #FDFAF5; }

.section-header {
  padding: 0 0 40px 0;
  text-align: center; }
  .section-header h1 {
    font-size: 2em;
    font-family: "Italian Typewriter", serif;
    color: #CBA44A;
    text-transform: lowercase;
    font-weight: bold;
    letter-spacing: -0.04em; }
    .section-header h1:after {
      content: '';
      display: block;
      width: 40px;
      height: 1px;
      background: #CBA44A;
      margin: 20px auto 0 auto; }
    @media screen and (min-width: 768px) {
      .section-header h1 {
        font-size: 3em; } }

body, input, textarea {
  color: #2a2a2a;
  font: 400 100%/1 "Italian Typewriter", serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Avenir LT Std", sans-serif; }

a {
  color: #2a2a2a;
  transition: all 0.2s ease-in-out; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
section#announcement {
  padding: 10px 0; }
  section#announcement .announcement-wrapper {
    max-width: 800px;
    padding: 0 25px;
    margin: 0 auto; }
    section#announcement .announcement-wrapper p {
      font-family: "Avenir LT Std", sans-serif;
      font-size: 1em; }

.header-bg {
  border-top: 5px solid #CBA44A; }

header {
  background: transparent;
  padding-bottom: 40px; }
  @media screen and (min-width: 768px) {
    header {
      padding-bottom: 0; } }
  header .header-wrapper {
    border-color: #1C2319;
    border-width: 1px; }
  header .logo .image a {
    display: block; }
    @media screen and (min-width: 1280px) {
      header .logo .image a img {
        max-width: 412px; } }
  header .info {
    color: #2a2a2a; }
    header .info h3 {
      text-transform: lowercase;
      font-family: "Italian Typewriter", serif;
      font-weight: 700;
      font-size: 1.5em;
      color: #992F20; }
    header .info p {
      font-size: 0.875em;
      font-style: normal;
      line-height: 1.75em;
      font-family: "Avenir LT Std", sans-serif; }
      @media screen and (min-width: 1280px) {
        header .info p {
          font-size: 1em; } }
  header.status-view .status {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  header.status-view .logo {
    width: 100%; }
    @media screen and (min-width: 1024px) {
      header.status-view .logo {
        width: auto; } }
    header.status-view .logo .image {
      width: 80%; }
      @media screen and (min-width: 1024px) {
        header.status-view .logo .image {
          width: 100%; } }
      header.status-view .logo .image img {
        margin: 0;
        transform: none;
        max-width: 200px; }
        @media screen and (min-width: 768px) {
          header.status-view .logo .image img {
            margin: 0;
            max-width: 300px; } }
        @media screen and (min-width: 1280px) {
          header.status-view .logo .image img {
            max-width: 300px; } }
  header.status-view .message {
    width: 100%;
    flex: 1;
    text-align: center;
    padding-top: 50px; }
    @media screen and (min-width: 1024px) {
      header.status-view .message {
        padding-left: 50px;
        text-align: left;
        width: auto;
        padding-top: 0; } }
    header.status-view .message .headline {
      padding-bottom: 15px; }
      header.status-view .message .headline h2 {
        font-size: 1.5rem;
        font-family: "Italian Typewriter", serif;
        font-weight: bold;
        text-transform: lowercase;
        color: #992F20; }
        @media screen and (min-width: 1280px) {
          header.status-view .message .headline h2 {
            font-size: 2rem; } }
    header.status-view .message .copy p {
      font-size: 1rem;
      line-height: 1.75em;
      font-family: "Avenir LT Std", sans-serif; }
      header.status-view .message .copy p + p {
        padding-top: 10px; }
      @media screen and (min-width: 1280px) {
        header.status-view .message .copy p {
          font-size: 1.25rem; } }

nav.desktop {
  background: transparent;
  padding: 25px 0; }
  nav.desktop .main-nav a {
    font-size: 1.25em;
    font-weight: 700;
    text-transform: lowercase;
    color: #992F20; }
    nav.desktop .main-nav a:after {
      padding: 0 10px; }
      @media screen and (min-width: 1280px) {
        nav.desktop .main-nav a:after {
          padding: 0 20px; } }

nav.mobile .main-nav a {
  font-size: 1.25em;
  font-weight: 700;
  color: #992F20;
  padding: 20px 0;
  display: block;
  text-transform: lowercase; }

@media screen and (min-width: 768px) {
  nav.mobile .main-nav {
    display: flex;
    justify-content: center; }
    nav.mobile .main-nav a {
      padding: 0; }
      nav.mobile .main-nav a:after {
        content: "·";
        display: inline-block;
        padding: 0 30px; }
      nav.mobile .main-nav a:last-of-type:after {
        display: none; } }

section.call-to-actions {
  background: transparent;
  padding-bottom: 40px; }
  @media screen and (min-width: 768px) {
    section.call-to-actions .btn {
      padding: 0 5px; } }
  @media screen and (min-width: 1024px) {
    section.call-to-actions .btn {
      padding: 0 15px; } }
  section.call-to-actions .btn a {
    border-color: #181818;
    background: #181818;
    color: #FDFAF5;
    border-radius: 5px;
    text-transform: lowercase;
    font-size: 1.125em;
    padding: 13px 20px 12px;
    font-weight: 700; }
    @media screen and (min-width: 768px) {
      section.call-to-actions .btn a {
        font-size: 1em; } }
    @media screen and (min-width: 1024px) {
      section.call-to-actions .btn a {
        font-size: 1.125em; } }
    section.call-to-actions .btn a:hover {
      border-color: #CBA44A;
      background: #CBA44A;
      color: #fff; }
  section.call-to-actions #ot-reservation-widget {
    width: auto;
    padding: 0; }
  section.call-to-actions .ot-powered-by {
    display: none; }
  section.call-to-actions .ot-button {
    font-family: "Italian Typewriter", serif;
    border-color: #181818;
    background: #181818;
    color: #FDFAF5;
    border-radius: 5px;
    text-transform: lowercase;
    font-size: 1.125em;
    padding: 13px 20px 12px;
    font-weight: 700;
    font-weight: bold;
    width: auto;
    display: inline-block; }
    @media screen and (min-width: 768px) {
      section.call-to-actions .ot-button {
        font-size: 1em; } }
    @media screen and (min-width: 1024px) {
      section.call-to-actions .ot-button {
        font-size: 1.125em; } }
    section.call-to-actions .ot-button:hover {
      border-color: #CBA44A;
      background: #CBA44A;
      color: #fff; }
  @media screen and (min-width: 768px) {
    section.call-to-actions .text {
      width: 100%;
      padding: 25px 0; } }
  @media screen and (min-width: 1024px) {
    section.call-to-actions .text {
      width: auto;
      padding: 0 25px; } }
  section.call-to-actions .text p {
    color: #992F20;
    font-style: normal;
    font-weight: bold;
    font-size: 1.125rem;
    letter-spacing: 0.02em;
    text-transform: lowercase; }

#toggle .patty {
  background: #992F20; }
  #toggle .patty:after, #toggle .patty:before {
    background: #992F20; }

section#careers {
  background: #1C2319; }
  section#careers h2 {
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 0.05em;
    font-size: 1.5em; }
    @media screen and (min-width: 768px) {
      section#careers h2 {
        transform: translateY(-3px);
        width: 33.3333%; }
        section#careers h2 span {
          display: inline; } }
    @media screen and (min-width: 1024px) {
      section#careers h2 {
        width: auto;
        margin: 0 20px 0 0; } }
  section#careers p {
    font-size: 0.9375em;
    font-style: italic; }

section#comment-card .header h3 {
  font-size: 2.5em;
  color: #1C2319; }

section#comment-card .header p {
  font-size: 0.875em; }

section#comment-card .form label {
  font-size: 0.8125em;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #1C2319; }
  section#comment-card .form label.wpforms-field-sublabel {
    letter-spacing: 0;
    color: #1C2319; }

section#comment-card .form div.wpforms-container-full .wpforms-form .wpforms-field-description {
  font-size: 0.875em; }

section#comment-card .form div.wpforms-container-full .wpforms-form .wpforms-required-label {
  color: #992F20; }

section#comment-card .form div.wpforms-container-full .wpforms-form button[type=submit] {
  border-radius: 2px;
  padding: 14px 20px 11px 20px;
  color: #fff;
  background: #1C2319;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.875em; }

body.page-template-default section.standard {
  padding: 40px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-default section.standard {
      padding: 80px 0; } }
  body.page-template-default section.standard .wrapper {
    max-width: 960px; }
  body.page-template-default section.standard .section-header {
    padding: 0 0 40px 0; }
  body.page-template-default section.standard .section-body h3 {
    font-weight: bold;
    font-size: 1.375em;
    padding: 0 0 10px 0; }
    @media screen and (min-width: 768px) {
      body.page-template-default section.standard .section-body h3 {
        font-size: 1.5em; } }
  body.page-template-default section.standard .section-body p {
    font-weight: 100;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0 0 40px 0; }
    @media screen and (min-width: 768px) {
      body.page-template-default section.standard .section-body p {
        font-size: 1.25em; } }

.popup {
  top: -44px;
  left: -10px; }
  @media screen and (min-width: 1024px) {
    .popup {
      top: -50px;
      left: -8px; } }
  .popup-link, .popup-trigger {
    background: #992F20;
    color: #FDFAF5;
    font-family: "Italian Typewriter", serif;
    font-size: 1rem;
    text-transform: lowercase;
    border: 2px solid #FDFAF5;
    box-shadow: none !important; }
    .popup-link:hover, .popup-trigger:hover {
      border: 2px solid #CBA44A; }
    .popup-link span, .popup-trigger span {
      display: block;
      transform: rotate(-5deg); }

.popup-overlay .close {
  color: #992F20; }

.popup-overlay .info .headline h3 {
  font-size: 1.5rem;
  font-family: "Italian Typewriter", serif;
  color: #992F20; }
  @media screen and (min-width: 768px) {
    .popup-overlay .info .headline h3 {
      font-size: 1.75rem; } }

.popup-overlay .info .sub-headline h4 {
  font-family: "Avenir LT Std", sans-serif;
  color: #2a2a2a; }

.popup-overlay .info .copy p {
  font-family: "Avenir LT Std", sans-serif;
  color: #2a2a2a; }

.popup-overlay .info .btn a {
  font-size: 1.125rem;
  color: #992F20;
  font-family: "Avenir LT Std", sans-serif; }

section#heavy-at-home .overlay {
  background: rgba(203, 164, 74, 0.5); }
  section#heavy-at-home .overlay-wrapper {
    border: 5px solid #992F20;
    background: #FDFAF5; }

section#heavy-at-home .info .headline h1 {
  color: #CBA44A;
  font-family: "Italian Typewriter", serif;
  text-transform: lowercase; }
  @media screen and (min-width: 768px) {
    section#heavy-at-home .info .headline h1 {
      font-size: 5rem; } }

section#heavy-at-home .info .copy p {
  line-height: 1.375em;
  font-family: "Avenir LT Std", sans-serif;
  color: #1C2319; }
  @media screen and (min-width: 768px) {
    section#heavy-at-home .info .copy p {
      font-size: 1.5rem; } }
  section#heavy-at-home .info .copy p a {
    color: #1C2319; }

section#heavy-at-home .info .cta .btn {
  color: #992F20; }
  section#heavy-at-home .info .cta .btn:hover {
    background: #992F20;
    border-color: #992F20; }

/*

    ----------------------------------------------------------------------
                                03 Templates
    ----------------------------------------------------------------------

*/
body.home section#hero {
  position: relative; }
  body.home section#hero:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  body.home section#hero > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  @media screen and (min-width: 568px) {
    body.home section#hero {
      position: relative;
      max-height: 600px; }
      body.home section#hero:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 34.02778%; }
      body.home section#hero > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }

body.home section#main {
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }
  @media screen and (min-width: 1280px) {
    body.home section#main {
      margin: 0 auto;
      max-width: 1600px;
      padding: 10px 0;
      align-items: flex-start; } }
  body.home section#main section#info {
    order: -1;
    padding: 0 25px 25px 25px; }
    @media screen and (min-width: 768px) {
      body.home section#main section#info {
        order: 2;
        flex: 1;
        padding: 0 50px; } }
    @media screen and (min-width: 1024px) {
      body.home section#main section#info {
        max-width: 520px; } }
    @media screen and (min-width: 1280px) {
      body.home section#main section#info {
        padding: 50px 0 0 50px; } }
    body.home section#main section#info .description h3 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #CBA44A;
      font-family: "Italian Typewriter", serif;
      text-transform: lowercase; }
      @media screen and (min-width: 1280px) {
        body.home section#main section#info .description h3 {
          font-size: 4rem;
          line-height: 0.875em; } }
    @media screen and (min-width: 768px) {
      body.home section#main section#info .description .copy {
        border-bottom: 1px solid #CBA44A;
        padding: 10px 0 50px 0; } }
    body.home section#main section#info .description p {
      font-size: 1em;
      line-height: 1.75em;
      font-family: "Avenir LT Std", sans-serif; }
      @media screen and (min-width: 1280px) {
        body.home section#main section#info .description p {
          font-size: 1.25em; } }
    body.home section#main section#info .contact-details {
      padding: 50px 0 25px 0;
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      text-align: center; }
      @media screen and (min-width: 568px) {
        body.home section#main section#info .contact-details {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap; }
          body.home section#main section#info .contact-details > * {
            width: calc(50% - 25px); } }
      @media screen and (min-width: 1024px) {
        body.home section#main section#info .contact-details {
          max-width: 100%; }
          body.home section#main section#info .contact-details > * {
            width: 100%;
            text-align: left; } }
      body.home section#main section#info .contact-details .location {
        padding-top: 50px; }
        @media screen and (min-width: 568px) {
          body.home section#main section#info .contact-details .location {
            padding-top: 0; } }
        @media screen and (min-width: 1024px) {
          body.home section#main section#info .contact-details .location {
            padding-top: 50px; } }
      body.home section#main section#info .contact-details h3 {
        font-size: 1.75rem;
        font-weight: bold;
        color: #992F20;
        font-family: "Italian Typewriter", serif;
        text-transform: lowercase;
        padding-bottom: 10px; }
        @media screen and (min-width: 768px) {
          body.home section#main section#info .contact-details h3 {
            font-size: 1.5rem; } }
        @media screen and (min-width: 1024px) {
          body.home section#main section#info .contact-details h3 {
            font-size: 1.75rem; } }
      body.home section#main section#info .contact-details p {
        font-size: 1em;
        line-height: 1.75em;
        font-family: "Avenir LT Std", sans-serif; }
        @media screen and (min-width: 768px) {
          body.home section#main section#info .contact-details p {
            font-size: 0.875rem; } }
        @media screen and (min-width: 1024px) {
          body.home section#main section#info .contact-details p {
            font-size: 1.25rem; } }
  body.home section#main .next-door {
    order: 3;
    margin: 20px;
    padding: 25px;
    border: 1px solid #A12744;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media screen and (min-width: 768px) {
      body.home section#main .next-door {
        margin: 50px auto 20px auto;
        max-width: 800px; } }
    body.home section#main .next-door .logo {
      width: 100%; }
      @media screen and (min-width: 768px) {
        body.home section#main .next-door .logo {
          width: auto; } }
      body.home section#main .next-door .logo a {
        display: block;
        max-width: 250px;
        margin: 0 auto; }
      body.home section#main .next-door .logo img {
        width: 100%; }
    body.home section#main .next-door .copy {
      padding-top: 25px; }
      @media screen and (min-width: 768px) {
        body.home section#main .next-door .copy {
          flex: 1;
          padding-top: 0;
          padding-left: 50px; } }
      body.home section#main .next-door .copy p {
        font-size: 1em;
        line-height: 1.5em;
        font-family: "Avenir LT Std", sans-serif; }
        @media screen and (min-width: 1280px) {
          body.home section#main .next-door .copy p {
            font-size: 1.125em; } }
        body.home section#main .next-door .copy p a {
          text-decoration: underline;
          color: #A12744;
          font-weight: bold; }
  @media screen and (min-width: 768px) {
    body.home section#main section#photos {
      order: 1;
      width: 50%;
      max-width: 900px; } }
  @media screen and (min-width: 1024px) {
    body.home section#main section#photos {
      width: 66.6667%;
      max-width: 800px; } }
  body.home section#main section#photos .gallery {
    display: flex;
    flex-wrap: wrap; }
    body.home section#main section#photos .gallery .col-2 {
      width: calc(50% - 5px); }
      body.home section#main section#photos .gallery .col-2 img {
        width: 100%; }
        body.home section#main section#photos .gallery .col-2 img + img {
          margin-top: 10px; }
    body.home section#main section#photos .gallery .col-1 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      body.home section#main section#photos .gallery .col-1 img {
        width: 100%; }
    body.home section#main section#photos .gallery * + .col-1 {
      margin-top: 10px; }
    body.home section#main section#photos .gallery .wide {
      display: block; }

body.page-template-hours section.standard {
  padding: 40px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-hours section.standard {
      padding: 80px 0; } }
  body.page-template-hours section.standard .wrapper {
    max-width: 400px; }
    @media screen and (min-width: 768px) {
      body.page-template-hours section.standard .wrapper {
        max-width: 600px; } }
    @media screen and (min-width: 1024px) {
      body.page-template-hours section.standard .wrapper {
        max-width: 400px;
        padding: 0; } }
  body.page-template-hours section.standard .section-header {
    padding: 0 0 40px 0; }
  body.page-template-hours section.standard .section-body .hours {
    text-align: center; }
    body.page-template-hours section.standard .section-body .hours h3 {
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 0.875em;
      line-height: 1.25em;
      font-weight: bold;
      padding: 0 0 10px 0; }
    body.page-template-hours section.standard .section-body .hours p {
      font-weight: 100;
      font-size: 1.25em;
      line-height: 1.25em;
      padding: 0 0 40px 0; }
      @media screen and (min-width: 768px) {
        body.page-template-hours section.standard .section-body .hours p {
          font-size: 1.75em; } }
      body.page-template-hours section.standard .section-body .hours p:last-of-type {
        padding: 0; }

body.page-template-gallery .jp-carousel-info {
  display: none; }

body.page-template-gallery .jp-carousel-overlay {
  opacity: 0.98 !important; }

body.page-template-gallery .jp-carousel-close-hint span {
  font-size: 48px !important;
  height: 48px; }

body.page-template-gallery section.gallery {
  padding: 40px 0; }
  body.page-template-gallery section.gallery .section-header {
    padding: 0 0 40px 0; }
    body.page-template-gallery section.gallery .section-header h1 {
      font-weight: normal;
      font-size: 2em;
      border-bottom: 4px solid;
      padding: 0 0 5px 0;
      display: inline-block;
      text-align: center; }
      @media screen and (min-width: 768px) {
        body.page-template-gallery section.gallery .section-header h1 {
          font-size: 3em; } }

body.page-template-menu .menu-item .info {
  padding: 25px 0 0 0; }
  body.page-template-menu .menu-item .info a.title {
    font-size: 1.25em;
    text-transform: lowercase;
    font-weight: bold;
    color: #992F20; }

body.page-template-location section.location {
  padding: 40px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-location section.location {
      padding: 80px 0; } }
  body.page-template-location section.location .section-header {
    padding: 0 0 40px 0;
    text-align: left; }
    body.page-template-location section.location .section-header h1:after {
      margin: 20px 0 0 0; }
  body.page-template-location section.location .section-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    body.page-template-location section.location .section-body .info {
      width: 100%; }
      @media screen and (min-width: 768px) {
        body.page-template-location section.location .section-body .info {
          width: calc(40% - 25px); } }
      body.page-template-location section.location .section-body .info h3 {
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: 0.875em;
        line-height: 1.25em;
        font-weight: bold;
        padding: 0 0 5px 0; }
        @media screen and (min-width: 768px) {
          body.page-template-location section.location .section-body .info h3 {
            max-width: 420px; } }
      body.page-template-location section.location .section-body .info p {
        font-weight: 100;
        font-size: 1em;
        line-height: 1.25em;
        padding: 0 0 40px 0;
        letter-spacing: -0.02em; }
        @media screen and (min-width: 768px) {
          body.page-template-location section.location .section-body .info p {
            font-size: 1.125em; } }
        body.page-template-location section.location .section-body .info p:last-of-type {
          padding: 0; }
        body.page-template-location section.location .section-body .info p a {
          color: #992F20;
          text-decoration: underline; }
          body.page-template-location section.location .section-body .info p a:hover {
            text-decoration: underline; }
    body.page-template-location section.location .section-body .photo {
      width: 100%;
      padding-top: 20px; }
      @media screen and (min-width: 768px) {
        body.page-template-location section.location .section-body .photo {
          width: calc(60% - 25px);
          padding: 0; } }
    body.page-template-location section.location .section-body .map {
      padding: 20px 0 0 0;
      width: 100%; }
      @media screen and (min-width: 768px) {
        body.page-template-location section.location .section-body .map {
          padding: 40px 0 0 0; } }

body.page-template-group-dining section.standard {
  padding: 50px 0 50px 0; }

body.page-template-group-dining .section-header {
  padding-bottom: 20px; }

body.page-template-group-dining .links {
  display: flex;
  justify-content: center; }
  body.page-template-group-dining .links div + div {
    margin-left: 20px; }

body.page-template-group-dining .gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px; }
  @media screen and (min-width: 768px) {
    body.page-template-group-dining .gallery {
      grid-template-columns: 1fr 1fr 1fr; } }
  body.page-template-group-dining .gallery img {
    margin: 0 auto; }

body.page-template-group-dining .group-dining-description {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0; }
  body.page-template-group-dining .group-dining-description p {
    font-size: 1.375em;
    line-height: 1.25em;
    font-family: "Avenir LT Std", sans-serif; }
    body.page-template-group-dining .group-dining-description p + p {
      padding-top: 20px; }

body.page-template-group-dining .form-link,
body.page-template-group-dining .menu-link {
  display: flex;
  justify-content: center;
  padding-bottom: 40px; }
  body.page-template-group-dining .form-link .btn a,
  body.page-template-group-dining .menu-link .btn a {
    display: inline-block;
    border-color: #CBA44A;
    background: #CBA44A;
    color: #fafafa;
    border-radius: 5px;
    text-transform: lowercase;
    font-size: 1.5em;
    padding: 13px 25px 11px;
    font-weight: 700; }

body.page-template-group-dining div.wpforms-container-full {
  max-width: 600px;
  width: 100%;
  margin: 0 auto; }

body.page-template-group-dining .wpforms-description {
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Avenir LT Std", sans-serif; }

body.page-template-group-dining .wpforms-field-divider {
  padding-top: 30px !important;
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px; }
  body.page-template-group-dining .wpforms-field-divider h3 {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Italian Typewriter", serif;
    text-transform: lowercase;
    color: #1C2319;
    padding: 0 !important; }

body.page-template-group-dining div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
body.page-template-group-dining div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
body.page-template-group-dining div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
  max-width: 100%; }

body.page-template-group-dining .wpforms-field-container-full {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  body.page-template-group-dining .wpforms-field-container-full > * {
    width: 100%; }
  @media screen and (min-width: 768px) {
    body.page-template-group-dining .wpforms-field-container-full .wpforms-field-email,
    body.page-template-group-dining .wpforms-field-container-full .wpforms-field-phone,
    body.page-template-group-dining .wpforms-field-container-full .wpforms-field-date-time {
      width: calc(50% - 10px); } }

body.page-template-group-dining div.wpforms-container-full .wpforms-form .wpforms-field-description {
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Avenir LT Std", sans-serif;
  margin: 0 0 10px 0; }

body.page-template-group-dining div.wpforms-container-full .wpforms-form .wpforms-field-label {
  font-size: 1.125em; }

body.page-template-group-dining div.wpforms-container-full .wpforms-form .wpforms-field-sublabel {
  font-size: 1em; }

body.page-template-group-dining div.wpforms-container-full .wpforms-form label.wpforms-error {
  padding-top: 5px;
  font-size: 1em; }

body.page-template-group-dining div.wpforms-container-full .wpforms-form button[type=submit] {
  background: #2a2a2a;
  color: #fff;
  font-family: "Italian Typewriter", serif;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 1.125em;
  padding: 15px 30px 11px 30px;
  border-radius: 10px;
  display: inline-block;
  border: none;
  transition: all 0.2s ease-in; }
  body.page-template-group-dining div.wpforms-container-full .wpforms-form button[type=submit]:hover {
    background: #CBA44A; }
  @media screen and (min-width: 1024px) {
    body.page-template-group-dining div.wpforms-container-full .wpforms-form button[type=submit] {
      font-size: 1.5em; } }

body.error404 section#main {
  padding: 50px 0;
  min-height: 100vh; }
  @media screen and (min-width: 768px) {
    body.error404 section#main {
      min-height: 75vh;
      padding: 75px 0; } }
  body.error404 section#main h2 {
    font-size: 3.5em;
    padding: 0 0 25px 0; }
    @media screen and (min-width: 768px) {
      body.error404 section#main h2 {
        font-size: 5em; } }
  body.error404 section#main p {
    font-size: 1.5em; }
