section#heavy-at-home {

	.overlay {
		background: rgba(203, 164, 74, 0.5);
		
		&-wrapper {
			border: 5px solid $red;
			background: $cream;
		}
	}

	.info {

		.headline {
			h1 {
				color: $mustard;
				font-family: $italian-typewriter;
				text-transform: lowercase;

				@include tablet-portrait {
					font-size: 5rem;
				}
			}
		}

		.copy {
			p {
				line-height: 1.375em;
				font-family: $avenir;
				color: $dark-green;

				@include tablet-portrait {
					font-size: 1.5rem;
				}

				a {
					color: $dark-green;
				}
			}
		}

		.cta {
			.btn {
				color: $red;

				&:hover {
					background: $red;
					border-color: $red;
				}
			}
		}	
	}
}