.popup {
	top: -44px;
	left: -10px;

	@include tablet-landscape {
		top: -50px;
		left: -8px;
	}
	
	&-link,
	&-trigger {
		background: $red;
		color: $cream;
		font-family: $italian-typewriter;
		font-size: 1rem;
		text-transform: lowercase;
		border: 2px solid $cream;
		box-shadow: none !important;

		&:hover {
			border: 2px solid $mustard;
		}

		span {
			display: block;
			transform: rotate(-5deg);
		}
	}
}

.popup-overlay {

	.close {
		color: $red;
	}

	.info {
		.headline {
			h3 {
				font-size: 1.5rem;
				font-family: $italian-typewriter;
				color: $red;

				@include tablet-portrait {
					font-size: 1.75rem;
				}
			}
		}

		.sub-headline {
			h4 {
				font-family: $avenir;
				color: $slate;
			}

		}

		.copy {
			p {
				font-family: $avenir;
				color: $slate;
			}
		}

		.btn {
			a {
				font-size: 1.125rem;
				color: $red;
				font-family: $avenir;
			}			
		}
	}
}